* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background: #1d2b3c;
}

.inputbox {
  position: relative;
  width: 250px;
}

.inputbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .25);
  background: #1d2b3c;
  border-radius: 5px;
  outline: none;
  color: #fff;
  transition: 0.2s;
  font-size: 1em;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, .25);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3c;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputbox:nth-child(2) input:valid~span,
.inputbox:nth-child(2) input:focus~span {
  background: #00dfc4;
  color: #1d2b3c;
  border-radius: 2px;
}

.inputbox input:valid,
.inputbox input:focus {
  border: 1px solid #00dfc4;
}